@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

.dropdown ul {
    display: none; /* Sembunyikan submenu secara default */
}

.dropdown ul.show {
    display: block; /* Tampilkan submenu */
}
